*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    display: inline-block;
    width: 5em;
    margin-bottom: 0.5em;

}
form{
    border: 1px solid black;
    padding: 2em;
    margin: 2em;
}

input{
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgb(228, 228, 228);
    
}

input:focus{
    outline: 2px solid black;
}

input:hover{
    background-color: bisque;
}

input[type= 'submit']{
    border: none;
    padding: 0.5em;
    background-color: black;
    color: white;
}